.Content {
	font-family: Tahoma, Geneva, sans-serif;
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;	
}

.rating-block {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*margin: 10% 20%;*/
    /*border: 2px solid #73AD21;*/    
}

.rating-block .title {
	width: 40%;
	border-radius: 25px 0 0 25px;
    border: 1px solid #73AD21;
    padding: 20px;
    margin-right: 5px;
}

.rating-block .winner {
	width: 40%;
	border-radius: 0 25px 25px 0;
    border: 2px solid #73AD21;
    padding: 20px;
}

.rating-block .winner:hover {
	cursor: pointer;
	background-color: #73AD21;
}