.Ratings {
	font-family: Tahoma, Geneva, sans-serif;
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;	
}

.Ratings .selected-user {
	position: relative;
    display: inline-block;
    margin-top: 10px;
}

.Ratings .selected-user .selected-user-btn {
    background-color: #f44336;
    color: white;
    padding: 0 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Ratings .selected-user .closebtn {
    text-decoration: none;
    font-size: 36px;
    transition: 0.3s;
    color: #bebebe;
    transition: 0.3s;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration: none;
}

.Ratings .selected-user .closebtn:hover,
.Ratings .selected-user .closebtn:focus {
	color: #f1f1f1;
}


/* Big tablets to 1600px (widths smaller than 1600px row) */
@media only screen and (max-width: 1600px) {
    .Ratings {
        width: 80%;
    }
}

/* Big tablets to 1200px (widths smaller than 1200px row) */
@media only screen and (max-width: 1200px) {
    .Ratings {
        width: 90%;
    }
}

/* Small phones to small tablets from 481px to 768px */
@media only screen and (max-width: 768px) {
    .Ratings {
        width: 100%;
    }
}